@font-face {
  font-family: "Neue-medium";
  src: url("../fonts/Neue-Medium.woff2") format("woff2"),
    url("../fonts/Neue-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue-semibold";
  src: url("../fonts/Neue-DemiBold.woff2") format("woff2"),
    url("../fonts/Neue-DemiBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue-bold";
  src: url("../fonts/Neue-Bold.woff2") format("woff2"),
    url("../fonts/Neue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Neue-regular";
    src: url("../fonts/Neue-Regular.woff2") format("woff2"),
      url("../fonts/Neue-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




