.filters {
    display: flex;
    justify-content: space-between;
}
.filters__form {
    width: 22.7%;
    background-color: #F0F0F0;
}

.filters__categories {    
    margin-left: 55px;
    width: 77.3%;
}